.Cart {
  padding-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.TotalPriceWrapper {
  display: flex;
  justify-content: space-between;
}

.Price {
  font-size: 3rem;
}
